{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    

    
    <title>Arte en Masa</title>
</head>
{% block contenido %}
<form method="POST" action="/base/">
  {% csrf_token %} 
<body>
    
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
          <a class="navbar-brand" href="base.html">
            <img src="{% static 'img/Logo.png' %}" class="navbar-logo" alt="Logo">
          </a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarContent">
            <!-- Links principales del menú -->
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link active" href="{% url 'base' %}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/productos/">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contacto/">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ver_carrito' %}">
                    <i class="fas fa-shopping-cart"></i>
                </a>
              </li>
            </ul>
      
            <!-- Barra de búsqueda -->
            <form class="d-flex me-3">
              <div class="search-container">
                <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn btn-primary" type="submit">Buscar</button>
              </div>
            </form>
      
            <!-- Links de sesión -->
            <ul class="navbar-nav">
              {% if is_logged_in %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cerrar' %}">Cerrar sesión</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login1' %}">Iniciar sesión</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      
      <div class="welcome-message">
        {% if cliente %}
        <h2>Bienvenido, {{ cliente.nombre_completo }}</h2>
        {% else %}
        <h2>Bienvenido</h2>
        {% endif %}
      </div>
      
      <!-- Carrusel -->
      <div class="container mt-4">
        <div id="carouselExampleAutoplaying" class="carousel slide carousel-container" bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="position-relative">
                <img src="{% static 'img\Marraqueta.png' %}" class="d-block carousel-img" alt="Marraquetas recien horneadas con una corteza bien crujiente, especial para la once">
                <div class="carousel-caption d-none d-md-block">
                  Marraquetas recien horneadas con una corteza bien crujiente, especial para la once
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="position-relative">
                <img src="{% static 'img\Pie de Limon.png' %}" class="d-block carousel-img" alt="Tarta de limón con una textura suave y un sabor intenso, especial para compartir">
                <div class="carousel-caption d-none d-md-block">
                  Tarta de limón con una textura suave y un sabor intenso, especial para compartir
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="position-relative">
                <img src="{% static 'img\Brazo de Reina.png' %}" class="d-block carousel-img" alt="Bizcocho rico para acompañar cualquier momento del desayuno u once">
                <div class="carousel-caption d-none d-md-block">
                  Bizcocho rico para acompañar cualquier momento del desayuno u once
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      
      <!-- Sobre Nosotros -->
      <div class="container about-section fade-in-section">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="about-image scroll-reveal">
              <img src="{% static 'img/Panadera.jpg' %}" class="img-fluid" alt="Elegante mesa con flores y copas">
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-content scroll-reveal">
              <h2 class="about-title">Sobre Nosotros</h2>
              <div class="about-subtitle">Negocio Familiar</div>
              <div class="about-text">
                <p>Somos una panadería y pastelería familiar con más de 10 años de historia. Desde nuestros inicios, nos hemos dedicado a crear productos frescos y de alta calidad, manteniendo vivas las recetas tradicionales que tanto nos apasionan.</p>
                <p>Nuestro compromiso es ofrecerte siempre lo mejor, desde el pan recién horneado hasta los pasteles más deliciosos. A lo largo de los años, hemos crecido junto a nuestra comunidad, sin dejar de lado el toque casero y familiar que nos distingue.</p>
                <p>Nos encanta innovar y sorprender a nuestros clientes con nuevas recetas, manteniendo la esencia que nos ha acompañado desde el primer día.</p>
                <p>¡Te esperamos en nuestra tienda para compartir el sabor y la calidad que nos han convertido en un clásico de la zona!</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="contact-section scroll-reveal">
        <div class="container">
          <div class="row">
            <div class="col-md-4 contact-item">
              <h3 class="contact-title">Contacto</h3>
              <div class="contact-content">
                <div class="contact-detail">
                  <p>Telefono</p>
                  <p>+56932659812</p>
                </div>
                <div class="contact-detail">
                  <p>Nuestra Direccion</p>
                  <p>Av. Vicuña Mackenna 1128, Peñaflor, Chile</p>
                  <p>San Martín 392, Talagante, Chile</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 contact-item">
              <h3 class="contact-title">Horario de Atencion</h3>
              <div class="contact-content">
                <div class="hours-detail">
                  <p>Lunes-Viernes</p>
                  <p>9:00 AM - 8:00 PM</p>
                </div>
                <div class="hours-detail">
                  <p>Sabado</p>
                  <p>10:30 AM - 10:00 PM</p>
                </div>
                <div class="hours-detail">
                  <p>Domingo</p>
                  <p>11:30 AM - 10:00 PM</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 contact-item">
              <h3 class="contact-title">Siguenos</h3>
              <div class="social-links">
                <a href="https://www.facebook.com/" class="social-link">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/" class="social-link">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://x.com/" class="social-link">
                    <i class="fab fa-x-twitter"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <footer class="footer">
        <p>© 2024 Arte en Masa. Todos los derechos reservados.</p>
      </footer>

    {% endblock %}
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/animaciones.js' %}"></script>
</body>
</html>
