{% extends 'base.html' %}

{% block contenido %}
<div class="container mt-4">
    <h2>Carrito de Compras</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for key, item in carrito.items %}
            <tr>
                <td>{{ item.nombre }}</td>
                <td>${{ item.precio|floatformat:0 }}</td>
                <td>{{ item.cantidad }}</td>
                <td>${{ item.subtotal|floatformat:0 }}</td>
                <td>
                    <a href="{% url 'eliminar_del_carrito' key %}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Total: ${{ total|floatformat:0 }}</h3>

    <!-- Formulario para detalles del pedido -->
    <form method="POST">
        {% csrf_token %}
        
        <h4>Detalles del Pedido</h4>
        
        <!-- Formulario de Pedido -->
        {{ pedido_form.as_p }}  <!-- Formulario de detalles del pedido -->

        <button type="submit" class="btn btn-success">Proceder al pago</button>
    </form>

    <a href="{% url 'mostrar_productos' %}" class="btn btn-success">Volver a los productos</a>
</div>
{% endblock %}
