{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}
<br>
<br>
<br>

<div class="container-fluid col-md-6 offset-md-3" style="background-color:rgba(255, 255, 255, 0.477);">
    <div class="row mb-5">
        <br>
        <div class="text-center">
            <br>
            <h3>Registro usuario</h3>
        </div>        
    
        <form method="POST" action="{% url 'registrar_cliente' %}" enctype="multipart/form-data" onsubmit="return validarFormulario()">
            {% csrf_token %} 

            {{ form|crispy }}  <!-- Aquí se renderizan los demás campos del formulario -->
            <br>
            <button type="submit" class="btn tipo1 flagf float-end button">Guardar</button>               
            <a href="/menu/" class="btn tipo1 flagf float-end button">Cancelar</a>    
            <br>
            <br>              
        </form>

        {{ mensaje }}
    </div>
</div>
{% endblock %}
